@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background-color: #ececec;
  text-align: center;
  font-size: 20px;
}

:root {
  --white-clr: #fff;
  --black-clr: #333;
  --btn-wd-d: 100px;
  --btn-hg-d: 35px;
  --btn-fs: 14px;
  --btn-rd: 5px;
  --btn-bd-d: 1px solid var(--black-clr);
  --btn-cursor: pointer;
}

.container {
  position: relative;
  display: grid;
}

.row {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

hr {
  color: var(--black-clr);
}

.btn {
  background: var(--white-clr);
  border: var(--btn-bd-d);
  cursor: var(--btn-cursor);
  padding: var(--btn-rd);
  color: var(--black-clr);
  border-radius: 5px;
  width: var(--btn-wd-d);
  height: var(--btn-hg-d);
  font-size: var(--btn-fs);
}

/* button power */

input[type="checkbox"]#power {
  height: 100px;
  width: 100px;
  -webkit-appearance: none;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 50%;
  border: 8px solid #ececec;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"]#power:after {
  font-family: FontAwesome;
  content: "\f011";
  color: var(--black-clr);
  font-size: 35px;
}

input[type="checkbox"]#power:checked {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

input[type="checkbox"]#power:checked:after {
  color: #08ddec;
}

/* end button power */

/* button style 01 */

.btn-st-01:hover {
  background: var(--black-clr);
  border: 1px solid var(--white-clr);
  color: var(--white-clr);
  border: none;
}
/* end button style 01 */

/* button style 02 */
.btn-st-02 {
  overflow: hidden;
  transition: 0.6s;
}
.btn-st-02 {
  color: var(--black-clr);
  border-color: var(--black-clr);
}
.btn-st-02:before,
.btn-st-02:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
.btn-st-02:before {
  width: 60px;
  background: rgba(255, 255, 255, 0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.btn-st-02:after {
  width: 30px;
  background: rgba(255, 255, 255, 0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.btn-st-02:hover:before,
.btn-st-02:hover:after {
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
.btn-st-02:hover {
  color: var(--white-clr);
}
.btn-st-02:hover {
  background: var(--black-clr);
}
/* end button style 02 */

/* button glow */
.btn-glow {
  color: var(--black-clr);
}
.btn-glow:hover {
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  color: var(--white-clr);
  border-color: var(--white-clr);
}

.btn-glow:before {
  content: "";
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s;
}
.btn-glow:hover:before {
  opacity: 1;
  z-index: -1;
}
.btn-glow:hover {
  z-index: 1;
  animation: glow 8s linear infinite;
}
@keyframes glow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
/* end button glow */

/* button 3d file */
.btn-3d-flip {
  border: none;
  background: none;
  position: relative;
  display: inline-flex;
}
.btn-3d-flip a {
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
}
.btn-3d-flip a:before,
.btn-3d-flip a:after {
  position: absolute;
  content: "Submit";
  height: var(--btn-hg-d);
  width: var(--btn-wd-d);
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--btn-bd-d);
  border-radius: var(--btn-rd);
  box-sizing: border-box;
  font-size: 14px;
  background: var(--white-clr);
}
.btn-3d-flip a:before {
  color: var(--black-clr);
  background: var(--white-clr);
  transform: rotateY(0deg) translateZ(25px);
}
.btn-3d-flip a:after {
  color: var(--white-clr);
  background: var(--black-clr);
  transform: rotateX(90deg) translateZ(25px);
}
.btn-3d-flip a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

/* end button 3d file */
