@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background-color: #ececec;
  text-align: center;
}

:root {
  --white-clr: #fff;
  --gray-clr: #7a7a7a;
  --btn-wd-d: 100px;
  --btn-hg-d: 35px;
  --btn-fs: 14px;
}

.container {
  position: relative;
  display: grid;
}

.row {
  position: relative;
  margin: 20px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

hr {
  color: var(--gray-clr);
}

.btn {
  background: var(--white-clr);
  border: 1px solid var(--gray-clr);
  cursor: pointer;
  padding: 5px;
  color: var(--gray-clr);
  border-radius: 5px;
  width: var(--btn-wd-d);
  height: var(--btn-hg-d);
  font-size: var(--btn-fs);
}

/* button power */

input[type="checkbox"]#power {
  height: 100px;
  width: 100px;
  -webkit-appearance: none;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 50%;
  border: 8px solid #ececec;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"]#power:after {
  font-family: FontAwesome;
  content: "\f011";
  color: var(--gray-clr);
  font-size: 35px;
}

input[type="checkbox"]#power:checked {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

input[type="checkbox"]#power:checked:after {
  color: #08ddec;
}

/* end button power */

/* button style 01 */

.btn-st-01:hover {
  background: var(--gray-clr);
  border: 1px solid var(--white-clr);
  color: var(--white-clr);
  border: none;
}
/* end button style 01 */

/* button style 02 */
.btn-st-02 {
  overflow: hidden;
  transition: 0.6s;
}
.btn-st-02:first-child {
  color: var(--gray-clr);
  border-color: var(--gray-clr);
}
.btn-st-02:before,
.btn-st-02:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
.btn-st-02:before {
  width: 60px;
  background: rgba(255, 255, 255, 0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.btn-st-02:after {
  width: 30px;
  background: rgba(255, 255, 255, 0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.btn-st-02:hover:before,
.btn-st-02:hover:after {
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
.btn-st-02:hover {
  color: var(--white-clr);
}
.btn-st-02:hover:first-child {
  background: var(--gray-clr);
}
/* end button style 02 */
